---
layout: home
title: Home
theme: home
---

<div class="feature feature-main">
  <div class="feature-content">
    <a href="/">{% include logo.html %}</a>
    <h1><span style="color: #E6C195">Sandcastle</span> is a web and game studio</h1>
    <h2><em>Creativity through design, play, and education</em></h2>
  </div>
</div>

<div class="container feature-list">

  <div class="col-sm-6 col-md-12">
    <a class="feature feature-green" href="#" data-toggle="modal" data-target="#contactModal">
      <div class="row">
        <div class="col-xs-4 col-md-3 col-lg-4">
          <div class="feature-content">
            <i class="fa fa-code"></i>
          </div>
        </div>
        <div class="col-xs-8 col-md-9 col-lg-8">
          <div class="feature-content">
            <h2>Mindful websites for creative people</h2>
            <p>Get started today</p>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6 col-md-12">
    <a class="feature feature-red" href="http://foster-douglas.com/games" target="_blank">
      <div class="row">
        <div class="col-xs-4 col-md-3 col-lg-4">
          <div class="feature-content">
            <i class="fa fa-gamepad"></i>
          </div>
        </div>
        <div class="col-xs-8 col-md-9 col-lg-8">
          <div class="feature-content">
            <h2>Daily game designs</h2>
            <p>460 and counting</p>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6 col-md-12">
    <a class="feature feature-blue" href="http://codeconvoy.com" target="_blank">
      <div class="row">
        <div class="col-xs-4 col-md-3 col-lg-4">
          <div class="feature-content">
            <i class="fa fa-flask"></i>
          </div>
        </div>
        <div class="col-xs-8 col-md-9 col-lg-8">
          <div class="feature-content">
            <h2>Learn to code at Code Convoy</h2>
            <p>Try a class for free</p>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6 col-md-12">
    <a class="feature feature-sand" data-toggle="modal" data-target="#myModal" href="#">
      <div class="row">
        <div class="col-xs-4 col-md-3 col-lg-4">
          <div class="feature-content">
            {% include logo.html fill="white" %}
          </div>
        </div>
        <div class="col-xs-8 col-md-9 col-lg-8">
          <div class="feature-content">
            <h2>Welcome to our studio</h2>
            <p>Read our story</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- {% include animation-scripts.html %} -->
