<form class="mb4" action="https://getsimpleform.com/messages?form_api_token=c93c6644db4b49b6e6bd5df28db8a3dc" method="post">
  <input type='hidden' name='redirect_to' value='http://sandcastle.co/thank-you' />
  <div class="mb3">
    <label class="sr-only" for="name-input">Name</label>
    <input type="text" class="museo-sans pb2 w-100 bg-transparent" id="name-input" name="name" placeholder="Your name">
  </div>
  <div class="mb3">
    <label class="sr-only" for="email-input">Email</label>
    <input type="email" class="museo-sans pb2 w-100 bg-transparent" id="email-input" name="email" placeholder="Your email address">
  </div>
  <div class="mb3">
    <label class="sr-only" for="message-input">Message</label>
    <textarea class="museo-sans pb2 w-100 bg-transparent" id="message-input" name="message" placeholder="Your message" rows="4"></textarea>
  </div>
  <div>
    <button type="submit" class="museo-sans dib b bg-ocean bn br3 ph4 pv2 white pointer">Send message</button>
  </div>
</form>

{% include social-links.html %}
