<form class="pa4 mb4 bg-near-white br3" action="https://liveformhq.com/form/fa55a5e6-0960-407d-b319-949f12051ea9" method="POST" accept-charset="utf-8">
  <input type="hidden" name="_utf8" value="✓">

  <input type='hidden' name='redirect_to' value='http://sandcastle.co/thank-you' />
  <div class="form-group mb3">
    <label class="sr-only" for="name-input">Name</label>
    <input type="text" class="museo-sans pa2 w-100" id="name-input" name="name" placeholder="Your name">
  </div>
  <div class="form-group mb3">
    <label class="sr-only" for="email-input">Email</label>
    <input type="email" class="museo-sans pa2 w-100" id="email-input" name="email" placeholder="Your email address">
  </div>
  <div class="form-group mb3">
    <label class="sr-only" for="message-input">Message</label>
    <textarea class="museo-sans pa2 w-100" id="message-input" name="message" placeholder="Your message" rows="4"></textarea>
  </div>
  <div>
    <div id="capt" class="g-recaptcha mb3" data-sitekey="6LfT_-YUAAAAAEew1KbQkRFfP_29EDC8dgn9Hbwl"></div>
    <button type="submit" id="form-submit" class="museo-sans dib b bg-ocean bn br3 ph4 pv2 white pointer dim-2">Send message</button>
  </div>
</form>

<script type="text/javascript">

$('#form-submit').click(function(){
  if(grecaptcha.getResponse().length == 0){
     alert('Please check the reCAPTCHA checkbox if you are not a robot, otherwise get lost.');
     return false;
   }
});


 </script>
