<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-hidden="true">
  <button type="button" class="btn btn-close" data-dismiss="modal">
    <span class="fa fa-chevron-left"></span>
  </button>
  <div class="modal-dialog modal-lg">
    <div class="row">
      <div id="about" class="col-md-6">
        {% capture bio %}{% include bio.md %}{% endcapture %}
        {{ bio | markdownify }}
      </div>
      <div class="col-md-6">
        <h2 id="contact">Contact Sandcastle</h2>
        <p>If you're interested in chatting about games, education, or a web development project, <a href="mailto:sandcastle@sandcastle.co">email us</a> or send us a message below. We'd love to work with you.</p>
        {% include contact-form.html %}
      </div>
    </div>
  </div>
</div>
