<div class="ph3 pv5 bg-ocean white lh-copy">
  <div class="mw6 center">
    {% include logo.html %}
    <h2 class="tc f2">A tiny studio made of sand</h2>
    {% capture bio %}{% include bio.md %}{% endcapture %}
    {{ bio | markdownify }}
    <h2 class="tc" id="contact">Contact Sandcastle</h2>
    <p>Do you need a website to share that thing you really care about? Are you working on something that will make your community more beautiful, mindful, healthy, unique, kind, or exciting? Are you helping people learn cool things? Do you have an existing website that needs a kickjump and a new shine? We'd love to work with you, <em>like, right now, please!</em> We can't wait to meet you.</p>

    <p>If you're someone with a creative project or business, a big company with a unique side project, a cafe, museum, restaurant, school, festival, conference or any other form that creativity takes in our communities, and you're interested in chatting about a project, <a class="sand link dim" href="mailto:{{ site.data.contact.email }}">email us</a> or send us a message below.</p>
    {% include contact-form.html %}
  </div>
</div>
