<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="jjPwdZK-XPQJXECMHVtT01d9YKw2Lw1-JM9TsHwM3IA" />
	<title>{{ site.title }}</title>

  <meta name="description" content="A tiny web and game studio made of sand.">
  <link rel="shortcut icon" href="http://sandcastle.co/img/favicon-96x96.png">

  <link rel="preload" href="https://use.typekit.net/ulj8ban.css" as="style">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/sandcastle.css">
</head>
