<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="google-site-verification" content="jjPwdZK-XPQJXECMHVtT01d9YKw2Lw1-JM9TsHwM3IA" />
	<title>{{ site.title }}</title>

  <link rel="shortcut icon" src="http://sandcastle.co/img/sandcastle.ico" type="image/x-icon">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/sandcastle.css">
  <script src="//use.typekit.net/xyf2htu.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

</head>
