<form class="form-inline" action="https://tinyletter.com/sandcastleco" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/sandcastleco', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <div class="form-group">
    <input class="form-control" type="text" name="email" id="tlemail" placeholder="your@email.com"/><input type="hidden" value="1" name="embed"/>
    <input id="button" class="btn btn-default" type="submit" value="Sign up" />
  </div>
</form>
