.card {
  position: relative;
}
.card-caption {
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.card img {
  transition: transform 0.3s;
}
.card:hover img {
  transform: scale(1.08);
  transition: transform .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card:hover .card-caption {
  opacity: 1;
  transition: opacity 0.3s;
}
