.card {
  position: relative;
}
.card-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.card img {
  transition: transform 0.3s;
}
.card:hover img {
  transform: scale(1.02);
  transition: transform 0.3s;
}
.card:hover .card-caption {
  opacity: 1;
  transition: opacity 0.3s;
}
