.jumbotron {
  background-color: $white;
  color: $red;
}
.jumbotron h1 {
  font-size: 2.5rem;
}
.jumbotron #sandcastle {
  fill: $sand;
}
.jumbotron #flag {
  fill: $red;
}
.chat {
  margin-top: 30px;
}
.chat img {
  max-width: 100px;
  margin-right: 30px;
  vertical-align: top;
}
.chat.right {
  float: right;
}
.chat.right img {
  margin-right: 0;
  margin-left: 30px;
}
.chat .bubble {
  max-width: 600px;
  position:relative;
  display: inline-block;
  background-color: $white;
  color: $ocean;
  padding: 10px 20px;
  border-radius: 20px;
}
.chat .bubble:before {
  content:"";
  position:absolute;
  z-index:-1;
  bottom:-7px;
  right:95%;
  height:30px;
  border-right:50px solid $white;
  background:$white; /* need this for webkit - bug in handling of border-radius */
  /* css3 */
  -webkit-border-bottom-right-radius:70px 50px;
  -moz-border-radius-bottomright:70px 50px;
  border-bottom-right-radius:70px 50px;
  /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
  -webkit-transform:translate(0, -2px);
  -moz-transform:translate(0, -2px);
  -ms-transform:translate(0, -2px);
  -o-transform:translate(0, -2px);
  transform:translate(0, -2px);
}
.chat .bubble:after {
  content:"";
  position:absolute;
  z-index:-1;
  bottom:-7px;
  right:95%;
  width:50px;
  height:30px;
  background: $ocean;
  /* css3 */
  -webkit-border-bottom-right-radius:40px 50px;
  -moz-border-radius-bottomright:40px 50px;
  border-bottom-right-radius:40px 50px;
  /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
  -webkit-transform:translate(-30px, -2px);
  -moz-transform:translate(-30px, -2px);
  -ms-transform:translate(-30px, -2px);
  -o-transform:translate(-30px, -2px);
  transform:translate(-30px, -2px);
}

.chat.right .bubble:before {
  right: -2%;
  border-left:50px solid $white;
  border-right: 0;
  -webkit-border-bottom-right-radius:0;
  -moz-border-radius-bottomright:0;
  border-bottom-right-radius:0;
  -webkit-border-bottom-left-radius:70px 50px;
  -moz-border-radius-bottomleft:70px 50px;
  border-bottom-left-radius:70px 50px;
}
.chat.right .bubble:after {
  right: -2%;
  -webkit-border-bottom-right-radius:0;
  -moz-border-radius-bottomright:0;
  border-bottom-right-radius:0;
  -webkit-border-bottom-left-radius:40px 50px;
  -moz-border-radius-bottomleft:40px 50px;
  border-bottom-left-radius:40px 50px;
  -webkit-transform:translate(30px, -2px);
  -moz-transform:translate(30px, -2px);
  -ms-transform:translate(30px, -2px);
  -o-transform:translate(30px, -2px);
  transform:translate(30px, -2px);
}
