/*

   COLORS

   Classes for setting foreground and background colors on elements.

*/

/* Text colors */

.ocean { color: $ocean; }
.sand { color: $sand; }
.sc-blue { color: $blue; }
.mb-red { color: #800001; }
.snc-green { color: #00461c; }

/* Background colors */

.bg-ocean { background-color: $ocean; }
.bg-sand { background-color: $sand; }
.bg-sc-blue { background-color: $blue; }
.bg-fuzz-black { background-color: #171717; }
.bg-tea-blue { background-color: #7b879a; }
.bg-parchment { background-color: #faf9f5; }
.bg-cc-blue { background-color: #1073ba; }

/* Borders */

.bb--white {
  border-bottom-color: $white;
}
