.bg-ocean {
  background-color: $ocean;
}
.ocean {
  color: $ocean;
}
.bg-sand {
  background-color: $sand;
}
.sand {
  color: $sand;
}
.bg-sc-blue {
  background-color: $blue;
}
.sc-blue {
  color: $blue;
}
.bg-fuzz-black {
  background-color: #171717;
}
.bg-tea-blue {
  background-color: #7b879a;
}
.bg-parchment {
  background-color: #faf9f5;
}
.mb-red {
  color: #800001;
}

.bb--white {
  border-bottom-color: $white;
}
