/*

   COLORS

   Classes for setting foreground and background colors on elements.

*/

$black: #1F1F1F;
$white: #FFFFFF;
$sand: #E6C195;
$ocean: #163D59;
$red: #D9482B;
$yellow: #F2C53D;
$green: #53A668;
$blue: #30A7BF;

/* Text colors */

.ocean { color: $ocean; }
.sand { color: $sand; }
.sc-blue { color: $blue; }
.mb-red { color: #800001; }
.snc-green { color: #00461c; }
.cc-blue { color: #1073ba; }

/* Background colors */

.bg-ocean { background-color: $ocean; }
.bg-sand { background-color: $sand; }
.bg-sc-blue { background-color: $blue; }
.bg-fuzz-grey { background-color: #ededed; }
.bg-tea-blue { background-color: #7b879a; }
.bg-parchment { background-color: #faf9f5; }
.bg-mb-red { background-color: #800001; }
.bg-snc-green { background-color: #00461c; }
.bg-cc-blue { background-color: #1073ba; }
.bg-kat-sorbet { background-color: #FF8C79; }
.bg-foster-orange { background-color: #F8CF5D; }
.bg-kevin-teal { background-color: #237c8e; }
.bg-bean-green { background-color: #607B53; }
.bg-winterberry { background-color: #814C62; }
.bg-cura-white { background-color: #F7F8F3; }
.bg-passion-pink { background-color: #91164B; }


/* Fills */

.fill-ocean { fill: $ocean; }
.fill-sand { fill: $sand; }
.fill-sc-blue { fill: $blue; }
.fill-mb-red { fill: #800001; }
.fill-snc-green { fill: #00461c; }
.fill-cc-blue { fill: #1073ba; }

/* Borders */

.b--ocean { border-color: $ocean; }
.b--sand { border-color: $sand; }
.bb--white { border-bottom-color: $white; }

.bg-gradient-1 { background: linear-gradient(rgba($white, 0), rgba($white, 0.8)); }
