.feature {
  color: $white;
  text-align: center;
}
.feature-main {
  padding-left: 15px;
  padding-right: 15px;
  height: 100vh;
  min-height: 300px;
}
@media(min-width: 760px) {
  .feature-main {
    float: left;
    width: 70%;
  }
  .feature-list {
    float: left;
    width: 30%;
  }
}
.feature-list .feature {
  margin: 3vh;
  padding: 20px;
  min-height: 125px;
  height: 21.25vh;
  border-radius: 10px;
}
.feature-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.feature h1,
.feature h2 {
  margin-top: .5rem;
  font-weight: normal;
}
.feature-list .feature h2 {
  font-weight: bold;
  margin-top: 0;
}
.feature-list .feature p {
  font-style: italic;
}
.feature-sand {
  background-color: $sand;
}
.feature-ocean {
  background-color: $ocean;
}
.feature-red {
  background-color: $red;
}
.feature-blue {
  background-color: $blue;
}
.feature-green {
  background-color: $green;
}
.feature-header {
  position: relative;
  height: 100vh;
  min-height: 250px;
}
.feature-main .btn {
  padding: 10px 20px;
  display: inline-block;
  border: 3px solid $white;
  border-radius: 10px;
  margin-top: 1.25rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: $white;
}
.feature-main .fa {
  margin-left: 20px;
  margin-right: 20px;
}
.feature .fa {
  font-size: 2.2rem;
}
.feature .row,
.feature .row .col-xs-3,
.feature .row .col-xs-9 {
  height: 100%;
}
