.feature {
  padding-top: 20px;
  padding-bottom: 20px;
  color: $white;
  text-align: center;
}
.feature-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.feature-header > .feature-content {
  top: 30%;
}
.sub-features {
  width: 100%;
  position: absolute;
  bottom: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba($black, .7);
}
.feature-sub {
  border-radius: 10px;
  height: 25vh;
  min-height: 125px;
}
.feature h1,
.feature h2 {
  margin-top: .5rem;
  font-weight: normal;
}
.feature-sand {
  background-color: $sand;
}
.feature-ocean {
  background-color: $ocean;
}
.feature-red {
  background-color: $red;
}
.feature-blue {
  background-color: $blue;
}
.feature-header {
  position: relative;
  background: url("/img/background.jpg");
  background-size: cover;
  height: 100vh;
  min-height: 250px;
}
.feature-header .btn {
  padding: 10px;
  display: inline-block;
  border: 3px solid $white;
  border-radius: 10px;
  margin-top: 1.25rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: $white;
  opacity: .8;
  transition: .25s opacity;
}
.feature-header .btn:hover {
  opacity: 1;
  text-decoration: none;
  transition: .25s opacity;
}
.feature-sub .logo {
  max-width: 28px;
}
.feature i {
  font-size: 2rem;
}
