.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media(min-width: 992px) {
  .vertical-center-md {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
