.logo {
  display: block;
  max-width: 100px;
}
@media (min-width: 768px) {
  .logo {
    max-width: 85px;
  }
}
.logo:hover {
  cursor: pointer;
}
.logo .green {
  fill: $green;
}
.logo .sand {
  fill: $sand;
}
.logo .red {
  fill: $red;
}
.logo .blue {
  fill: $blue;
}
.logo #sandcastle.about {
  fill: $sand;
}
.logo #flag.about {
  fill: $ocean;
}
.logo #sandcastle.home {
  fill: $white;
}
.logo #flag.home {
  fill: $sand;
}
.logo #flag.white,
.logo #sandcastle.white {
  fill: $white;
}
