.logo {
  display: block;
  max-width: 120px;
}
.logo:hover {
  cursor: pointer;
}
.logo .green {
  fill: $green;
}
.logo .red {
  fill: $red;
}
.logo .blue {
  fill: $blue;
}
.logo #sandcastle.about {
  fill: $sand;
}
.logo #flag.about {
  fill: $ocean;
}
.logo #sandcastle.home {
  fill: $white;
}
.logo #flag.home {
  fill: $green;
}
.logo .white {
  fill: $white !important;
}
.logo #flag.sand {
  fill: $sand;
}
.logo #sandcastle.sand {
  fill: $sand;
}
