.logo {
  display: block;
  max-width: 125px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.logo:hover {
  cursor: pointer;
}
#sandcastle {
  fill: #FFF;
}
#flag {
  fill: #FFF;
}
