.modal {
  color: $white;
}
.modal h1 {
  color: $white;
}
.modal-backdrop {
  background-color: $blue;
}
.modal-backdrop.in {
  opacity: 1;
}
.modal .btn-close {
  float: right;
  margin-bottom: 2rem;
}
