body {
  background-color: $ocean;
}
img {
  width: 100%;
}
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
.container-narrow {
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px
}
.center-block {
  float: none;
}

/*
 * Card
 */

.card {
  padding-bottom: 1.5rem;
}

/*
 * Section
 */

.section-cover {
  position: relative;
  height: 100vh;
}
@media(min-width: 992px) {
  .cover-bottom {
    position: absolute;
    bottom: 0;
  }
}

.section-half-fixed {
  height: 50vh;
}
.section-half {
  position: relative;
  min-height: 50vh;
  height: auto;
  padding-bottom: 30px;
}
.section-two-thirds {
  height: 66.666vh;
}
.section-one-third {
  min-height: 33.333vh;
  height: auto;
}
.section-secondary {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $green;
}
.section-cover.section-white {
  border-bottom: 1px solid $sand;
}
.section-white {
  background-color: $white;
  color: $red;
}
.section-white a {
  color: $red;
}
.section-white a:hover {
  color: $red;
  opacity: .5;
  text-decoration: none;
}
.section-home {
  background-color: $ocean;
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-home:first-child {
  height: 100vh;
}
.section-home:nth-child(2) {
  visibility: hidden;
  display: none;
  background-color: $ocean;
  height: 40vh;
}
