.tooltip-inner {
  position: relative;
  top: 1px;
  background-color: transparent;
  color: $white;
  font-weight: 400;
  font-size: .85rem;
  padding: 0;
}
.tooltip.right .tooltip-arrow {
  display: none;
  border-right-color: transparent;
}
