$museo-sans: "museo-sans", sans-serif;
$museo-slab: "museo-slab", serif;

body {
  font-size: 18px;
}
.museo-sans {
  font-family: $museo-sans;
}
.museo-slab {
  font-family: $museo-slab;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $museo-slab;
  font-weight: 100;
}

a {
  outline: none !important;
}
