html {
  font-size: 15px;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
body {
  font-family: "proxima-nova-soft", sans-serif;
  font-size: 1em;
  line-height: 1.35;
  color: $white;
}
.games {
  color: $red;
}
p {
  margin-top: 0px;
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.35;
}
h1 {
  margin-top: 0px;
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
}
ul {
  padding-left: 20px;
}
a {
  color: $white;
  transition: opacity .3s;
}
a:hover {
  color: $white;
  opacity: .8;
  transition: opacity .3s;
}
ol {
  padding-left: 30px;
}
ul li,
ol li {
  margin-top: 0px;
  margin-bottom: .75rem;
}
blockquote {
  padding-left: .75rem;
  padding-right: .75rem;
  font-size: .9rem;
  line-height: 1.35;
  border-left: none;
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #777;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.footnote {
  color: $sand;
  font-weight: 300;
  font-size: 1.3rem;
}
