<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="body" class="{{ page.theme }}">

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="glyphicon glyphicon-remove btn btn-ghost btn-close" data-dismiss="modal"></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 center-block">
            <div class="row">
              <div class="col-md-2">
                {% include logo.html fill="white" %}
              </div>
              <div class="col-md-10">
                <h1>A tiny studio made of sand</h1>
                <p class="lead">Sandcastle is Kevin McGillivray and Foster Douglas. <br>We care about creativity, mindfulness, and education.</p>
              </div>
            </div>
            <h2>Jazz and Improvisation</h2>
            <p>The story of our collaboration goes back a decade to 2005. We were sitting in the last two chairs in our high school jazz band trumpet section. Looking back, even during those early rehearsals the seeds of what defines the way we work together were present: humor, experimentation, mindful encouragement, and going a little against the grain.</p>
            <h2>Felix Sofia</h2>
            <p>A few years later, while studying in college, we decided to start a music company, writing music for films, documentaries, games, and our own albums. At the same time, we both explored our wide variety of other interests in design, technology, web development, education, travel, and anything else we could explore and be curious about.</p>
            <h2>A New Path: Games, Web, and Education</h2>
            <p>While in graduate school, Foster realized a quiet interest that had been growing for years and that combined his skills in visual design, music and sound, technology, and interest in unique experiences: game design.</p>
            <p>At the same time, Kevin dove deeper and deeper into web development, gaining a strong enthusiasm for the power and creativity of programming. He also fully embraced a common theme in his past interests and experiences: teaching.</p>
            <p>Everything we've done in the many things we've explored has shared the same overall drive: use our creative skills to make unique, meaningful things, help other people use their creative skills, never stop learning and exploring, and make the world a more beautiful, mindful place.</p>
            <p>Now, we've started Sandcastle. Sandcastle isn't really new, it's more like a new name for our collaboration. We make games, we help creative people with their websites, and we run classes and workshops to help people learn creative skills. We're just getting started in this new direction, and we hope you'll come along for the ride.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="glyphicon glyphicon-remove btn btn-ghost btn-close" data-dismiss="modal"></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h1>Contact Sandcastle</h1>
            <p>If you're interested in chatting about games, education, or a web development project, send us a message any time. We'd love to work with you.</p>
            <a href="https://twitter.com/sandcastleco" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/sandcastleco" target="_blank"><i class="fa fa-github"></i></a>
          </div>
          <div class="col-md-6">
            <form>
              <div class="form-group">
                <label class="sr-only" for="name-input">Name</label>
                <input type="text" class="form-control" id="name-input" name="name" placeholder="Your name">
              </div>
              <div class="form-group">
                <label class="sr-only" for="email-input">Email</label>
                <input type="email" class="form-control" id="email-input" name="email" placeholder="Your email">
              </div>
              <div class="form-group">
                <label class="sr-only" for="message-input">Message</label>
                <textarea class="form-control" id="message-input" name="message" placeholder="Your message" rows="4"></textarea>
              </div>
              <button type="submit" class="btn btn-ghost">Send message</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
    <script src="/js/menu.js"></script>

  </body>
</html>
