<section class="ph3 ph5-l mw9 center">
  <div class="dg-ns grid-33">
  {% for project in site.data.projects %}
    <div class="mh3 mb4 pa3 {% if project.background %}bg-{{ project.background }}{% endif %} tc ba b--light-gray bw3">
      {% if project.image %}
        <a class="pointer" href="{{ project.mainLink }}"><img class="mw5 w-100" src="/img/{{ project.image }}" alt="{{ project.name }}"></a>
      {% endif %}
      <div class="ph3">
        {% if project.mainLink %}
          <h3 class="museo-sans f5 normal"><a class="link {{ project.textColor }}" href="{{ project.mainLink }}">{{ project.name }}</a></h3>
        {% else %}
          <h3 class="museo-sans f5 normal">{{ project.name }}</h3>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>
</section>
